.hea{
    margin-left: 37%;
}

.calcu{
    background-color:lightpink;
    width: 250px;
    margin: 0 auto;
    border-radius: 8px;
}
.result{
    width: 96%;
    height: 45px;
    position: relative;
    top: 2px;
    background-color:lightslategray;
    color: #fff;
}
.clearButton{
    width: 96%;
    margin-top: 10px;
    margin-bottom: 6px;
    background-color: gray;
}
.btn{
    width: 41.5px;
    margin: 2px;
}
.hei{
    height: 48px;
    width: 16%;
}